/* @font-face {
  font-family: 'anurati';
  src: url('./Anurati-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./Comfortaa-Regular.ttf') format('truetype');
} */
